{{!-- The following component displays Ember's default welcome message. --}}
{{!-- {{welcome-page}} --}}
{{!-- Feel free to remove this! --}}

{{#each courses as |course|}}
    {{course-list-item model=course}}
{{/each}}

<div style="margin-top:30px;">
    {{two-inputs}}
</div>

{{!-- {{outlet}} --}}
