<div><h1>applications.hbs</h1></div>
{{!-- The following component displays Ember's default welcome message. --}}
{{!-- {{welcome-page}} --}}
{{!-- Feel free to remove this! --}}


<div style="margin-top:15px; padding-top:15px ; border-top: 2px solid blue">
    {{nav-header}}
</div>

<div style="margin-top:15px; padding-top:15px ; border-top: 2px solid blue">
    {{outlet}}
</div>
