<div><h2>courses.list</h2></div>
<div>
    <ul>
        {{#each model.courses as |course courseIndex|}}
            <li>
            {{link-to course.attributes.title 'courses.show' course.attributes.slug}}
            </li>
        {{/each}}
    </ul>
</div>


{{outlet}}
